<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Web Architecture: Project 1</title>
		<link rel="stylesheet" href="static/css/style.css">
		<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
		<script type="text/javascript" src = "static/js/script.js"></script>
	</head>
	<body>
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src = "static/js/script.js"></script>

	<div id = "maindiv">
	<div id="headerDiv">
	<h1>URL SHORTENER</h1>
	<h2>Obtain a shorter URL in just 1 click!</h2> 
	
	</div>

	

	<div id="div2">
	<p>Enter the long URL that needs to be shortened!</p>
	<form action="/create" id="UrlForm" name="UrlForm" method="POST" class="Url">
        <label for="longURL" class="Url">Long URL: </label> 
        <input type="text" id="longURL" name="longURL" value="" class="Url">
        <br /><br /><br />
        <label for="shortURL" class="Url">Short URL: </label> 
       
        <input type="text" id="shortURL" name="shortURL" value="" class="Url" onkeyup="myFunction(document.UrlForm.shortURL)"> 
        <br /><br /><br />

        <input type="submit" value="Create Short URL" id="submitbutton" disabled="disabled"/>

    </form>	
	</div>
	</div>

	</body>
</html>
